.section_top {
  display: flex;
  justify-content: space-around;
  padding: 30px 0;
}
.top_card {
  width: 300px;
  height: 300px;
  text-align: center;
}
.top_img {
  width: 340px;
}
.top_img:hover {
  opacity: 0.6;
  cursor: pointer;
  transition-duration: 1s;
}
.top_title {
  line-height: 60px;
  cursor: pointer;
}
.top_subtitle {
  border-bottom: 1px solid black;
  cursor: pointer;
}
